.amuedo {
    color:goldenrod;
    font-family: monospace;
    background-color: brown;
    width: 200px;

}

.importante {
    width: 200px;
    height: 400px;
    background-color: blueviolet;
}